header .logo div {
    background: url('../images/logo.png') no-repeat;
    background-size: 100%;
}

.mainAnime .leaf:nth-child(1) {
    background: url('../images/leaf_1.png') no-repeat;
}
.mainAnime .leaf:nth-child(2) {
    background: url('../images/leaf_2.png') no-repeat;
}
.mainAnime .leaf:nth-child(3) {
    background: url('../images/leaf_3.png') no-repeat;
}
.mainAnime .leaf:nth-child(4) {
    background: url('../images/leaf_4.png') no-repeat;
}
.mainAnime .leaf:nth-child(5) {
    background: url('../images/leaf_5.png') no-repeat;
}
.mainAnime .leaf:nth-child(6) {
    background: url('../images/leaf_6.png') no-repeat;
}
.mainAnime .enterBtn .wrapper_2::before,
.mainAnime .enterBtn .wrapper_2::after {
    background: url('../images/荷葉.png') no-repeat;
    background-size: 100%;
}

.bg {
    background: url('../images/bg.jpg') no-repeat top center;
    background-size: cover;
}

.hideBar {
    background: url('../images/bg.jpg') no-repeat top center;
    background-size: cover;
}